.submit-button {
  outline: none;
  position: relative;
  width: 100%;
  border-radius: 4px;
  border: 1px solid var(--forward-btn);
  padding: 14px 8px;
  background-color: var(--forward-btn);
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.25;
  letter-spacing: 0.4px;
}

.submit-button--idle {
  color: var(--forward-btn-text);
}

.submit-button--loading {
  color: transparent;
}

.submit-button--sidebar-version {
  padding: 14px 8px;
  font-size: 19px;
}

.submit-button:disabled {
  cursor: not-allowed;
  background-color: var(--forward-btn-disabled);
  border-color: var(--forward-btn-disabled);
}

.submit-button:hover:not(:disabled) {
  background-color: var(--forward-btn-hover);
  border-color: var(--forward-btn-hover);
  box-shadow: var(--shadow-primary);
}

.submit-button:focus {
  outline: none;
}

.submit-button:after {
  position: absolute;
  z-index: 1;
  top: 1px;
  left: 1px;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  display: block;
  content: "";
  border-radius: 3px;
  border: 2px solid transparent;
  transition: border-color 150ms ease-in-out;
}

.submit-button:focus:after {
  border-color: var(--forward-btn-text);
}

.submit-button:active:after {
  content: initial;
}

.submit-button__loader {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
