.default-layout__header,
.default-layout__footer {
  padding: 1rem 1rem 0.75rem;
}

.default-layout__sidebar {
  display: none;
}

.default-layout__loading {
  height: 31.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white-1);
  box-shadow: 0 0.625rem 1.25rem var(--black-2);
}

@media screen and (min-width: 768px) {
  .default-layout {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--max-width-tablet);
    width: 94%;
  }

  .default-layout__header {
    padding: 1.125rem 0;
  }

  .default-layout__footer {
    padding: 3rem 0 0;
  }
}

@media screen and (min-width: 1024px) {
  .default-layout {
    max-width: none;
    width: var(--max-width-laptop);
  }

  .default-layout__footer {
    padding: 3.75rem 0 0.75rem;
  }

  .default-layout__content {
    display: flex;
  }

  .default-layout__main {
    width: 67.5%;
    padding-right: 0.75rem;
  }

  .default-layout__sidebar {
    width: 32.5%;
    padding-left: 0.75rem;
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .default-layout {
    width: var(--max-width-pc);
  }
}
