.navigation-button {
  position: relative;
  border-radius: 4px;
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.25;
  letter-spacing: 0.4px;
  padding: 12px 24px;
  transition:
    background-color 150ms ease-in-out,
    box-shadow 150ms ease-in-out,
    border-color 150ms ease-in-out;
}

.navigation-button:hover {
  box-shadow: var(--btn-shadow);
}

.navigation-button--backward {
  border: 1px solid var(--backward-btn);
  background-color: var(--backward-btn-background);
  color: var(--backward-btn);
}

.navigation-button--backward:disabled {
  border-color: color-mix(in srgb, var(--backward-btn) 60%, transparent);
  color: color-mix(in srgb, var(--backward-btn) 60%, transparent);
}

.navigation-button--backward:hover {
  background-color: var(--backward-btn);
  border-color: var(--backward-btn);
  color: var(--backward-btn-hover);
}

.navigation-button--backward:focus:not(:active) {
  outline-offset: -2px;
}

.navigation-button--forward {
  border: 1px solid var(--forward-btn);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--forward-btn);
  color: var(--forward-btn-text);
}

.navigation-button--forward:disabled {
  background-color: color-mix(in srgb, var(--forward-btn) 60%, transparent);
}

.navigation-button--forward:hover {
  background-color: var(--forward-btn-hover);
  border-color: var(--forward-btn-hover);
}

.navigation-button--forward:after {
  position: absolute;
  z-index: 1;
  top: 2px;
  left: 2px;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  display: block;
  content: "";
  border-radius: 4px;
  border: 2px solid transparent;
  transition: border-color 150ms ease-in-out;
}

.navigation-button--forward:focus:not(:active) {
  outline: none;
}

.navigation-button--forward:focus:not(:active):after {
  border-color: var(--forward-btn-text);
}

.navigation-button--forward > div {
  margin-left: 10px;
  width: 14px;
  height: 14px;
  border-right: 5px solid var(--forward-btn-text);
  border-bottom: 5px solid var(--forward-btn-text);
  transform: rotate(315deg) translate(4px, 4px);
}

.navigation-button:active:not(:active):after {
  content: initial;
}
