.sidebar-info {
  padding: 12px 22px;
  box-shadow: var(--sidebar-info-shadow);
  background-color: var(--background-tertiary);
}

.sidebar-info__text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: var(--text-accent-primary);
}

.sidebar-info__text strong {
  font-weight: 600;
}

.sidebar-info__wrap {
  margin-top: 16px;
}

@media screen and (min-width: 1200px) {
  .sidebar-info {
    padding-left: 26px;
    padding-right: 26px;
  }
}

@media screen and (min-width: 1440px) {
  .sidebar-info {
    padding-left: 30px;
    padding-right: 30px;
  }
}
