.dialog-article {
  position: relative;
  overflow-y: auto;
  max-height: calc(100vh - 56px);
  padding-right: 20px;
  margin-right: -20px;
}

.dialog-article__panel {
  position: fixed;
  top: 28px;
  right: 26px;
  left: 26px;
  line-height: 0;
}

.dialog-article__close {
  position: relative;
  left: calc(100%);
  transform: translateX(-100%);
  display: inline-block;
  width: 16px;
  height: 16px;
  border: none;
  background-color: transparent;
}

.dialog-article__close::before,
.dialog-article__close::after {
  display: block;
  content: "";
  position: absolute;
  z-index: 1;
  top: 7px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--modal-close);
}

.dialog-article__close::before {
  transform: rotate(45deg);
}

.dialog-article__close::after {
  transform: rotate(135deg);
}

.dialog-article__footer {
  margin-top: 20px;
  border-top: 1px solid var(--line-tertiary);
  padding-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.dialog-article__button:not(:first-of-type) {
  margin-left: 8px;
}

.dialog-article__button {
  border: 2px solid transparent;
  border-radius: 4px;
  padding: 10px 15px;
  font-family: "Titillium Web", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.125;
  transition:
    background-color 150ms ease-in-out,
    border-color 150ms ease-in-out;
}

.dialog-article__button--cancel.dialog-article__button {
  color: var(--cancel-btn-text);
  border-color: var(--cancel-btn-border);
  background-color: var(--cancel-btn-background);
}

.dialog-article__button--cancel.dialog-article__button:hover {
  background-color: var(--cancel-btn-background-hover);
  border-color: var(--cancel-btn-border);
}

.dialog-article__button--cancel.dialog-article__button:focus:not(:active) {
  outline-offset: -2px;
}

.dialog-article__button--confirm.dialog-article__button {
  color: var(--confirm-btn-text);
  background-color: var(--confirm-btn-background);
  border-color: var(--confirm-btn-border);
}

.dialog-article__button--confirm.dialog-article__button:hover {
  background-color: var(--confirm-btn-border);
  border-color: var(--confirm-btn-background);
}

.dialog-article__button--confirm.dialog-article__button:focus:not(:active) {
  outline-offset: -2px;
}

.dialog-article .cmp {
  margin-top: 12px;
}

.dialog-article .cmp .cmpvendorlist {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 10pt;
  color: #4b4b4b;
}

.dialog-article .cmp .cmpvendorlist ul,
.dialog-article .cmp .cmpvendorlist li {
  font-size: 10pt;
}

.dialog-article .cmp .cmpvendorlist a {
  color: #ff8d02;
  text-decoration: none;
}

.dialog-article .cmp .cmpvendorlistheadertext {
  font-size: 14px;
  font-weight: 400;
}

.dialog-article .cmp .cmpvendorlistheader {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0), #eeeeee 100%) !important;
}

.dialog-article .cmp .cmpvendorlistheader:hover {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0), #afafaf 100%) !important;
}

.dialog-article .cmp .cmpvendorinfohl {
  margin-bottom: 8px;
}

.dialog-article h1,
.dialog-article h2,
.dialog-article h3,
.dialog-article h4 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  color: var(--text-accent-primary);
}

.dialog-article h1 {
  margin-bottom: 20px;
  font-size: 28px;
  line-height: 1.25;
}

.dialog-article h2 {
  margin-bottom: 5px;
  font-size: 24px;
  line-height: 1.6;
}

.dialog-article h3 {
  margin-bottom: 5px;
  font-size: 20px;
  line-height: 1.6;
}

.dialog-article h4 {
  margin-bottom: 5px;
  font-size: 16px;
  line-height: 1.6;
}

.dialog-article p,
.dialog-article li,
.dialog-article table {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
  color: var(--text-primary);
}

.dialog-article p {
  margin-bottom: 12px;
}

.dialog-article ul {
  padding-left: 30px;
  padding-right: 0;
  margin-top: 0;
  margin-bottom: 12px;
  list-style: disc;
}

.dialog-article ol {
  padding-left: 16px;
  padding-right: 0;
  margin-top: 0;
  margin-bottom: 12px;
  list-style: auto;
}

.dialog-article ol li:not(:last-child) {
  margin-bottom: 16px;
}

.dialog-article table {
  border-collapse: collapse;
  border-spacing: 0;
}

.dialog-article td {
  padding-right: 8px;
}

.dialog-article td:last-of-type {
  padding-right: 0;
}

.dialog-article b {
  font-weight: 600;
}

.dialog-article a {
  font-weight: 300;
  color: var(--link);
  text-decoration: none;
}

.dialog-article button {
  font-weight: 300;
  color: var(--link);
}

.dialog-article cite {
  margin-bottom: 12px;
}

.dialog-article strong {
  font-weight: 600;
}
