.form-navigation-button {
  position: relative;
  border-radius: 4px;
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.25;
  letter-spacing: 0.4px;
  padding: 12px 24px;
  transition:
    background-color 150ms ease-in-out,
    box-shadow 150ms ease-in-out,
    border-color 150ms ease-in-out;
}

.form-navigation-button:hover {
  box-shadow: 0 10px 20px var(--black-2);
}

.form-navigation-button--backward {
  border: 1px solid var(--gray-5);
  background-color: var(--white-1);
  color: var(--gray-5);
}

.form-navigation-button--backward:disabled {
  border-color: color-mix(in srgb, var(--gray-5) 60%, transparent);
  color: color-mix(in srgb, var(--gray-5) 60%, transparent);
}

.form-navigation-button--backward:hover {
  background-color: var(--gray-5);
  border-color: var(--gray-5);
  color: var(--gray-9);
}

.form-navigation-button--backward:focus:not(:active) {
  outline-offset: -2px;
}

.form-navigation-button--forward {
  border: 1px solid var(--orange-1);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--orange-1);
  color: var(--white-1);
}

.form-navigation-button--forward:disabled {
  background-color: color-mix(in srgb, var(--orange-1) 60%, transparent);
}

.form-navigation-button--forward:hover {
  background-color: var(--orange-5);
  border-color: var(--orange-5);
}

.form-navigation-button--forward:after {
  position: absolute;
  z-index: 1;
  top: 2px;
  left: 2px;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  display: block;
  content: "";
  border-radius: 4px;
  border: 2px solid transparent;
  transition: border-color 150ms ease-in-out;
}

.form-navigation-button--forward:focus:not(:active) {
  outline: none;
}

.form-navigation-button--forward:focus:not(:active):after {
  border-color: var(--white-1);
}

.form-navigation-button:active:not(:active):after {
  content: initial;
}

.form-navigation-button > div {
  margin-left: 10px;
  width: 14px;
  height: 14px;
  border-right: 5px solid var(--white-1);
  border-bottom: 5px solid var(--white-1);
  transform: rotate(315deg) translate(4px, 4px);
}
