.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  margin-top: 2px;
  margin-bottom: 2px;
  height: 36px;
}

.header__info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 2px;
}

.header__link {
  line-height: 1;
}

.header__phone {
  height: 18px;
}

.header__number {
  display: none;
}

.header__hours {
  display: none;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #0c6658;
}

.header__hours svg {
  width: 15px;
}

@media screen and (min-width: 768px) {
  .header__link {
    display: flex;
    align-items: center;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: var(--blue-2);
    text-decoration: none;
  }

  .header__number {
    margin-left: 12px;
    display: inline;
  }

  .header__hours {
    display: inline;
  }
}
