.sidebar {
  --space: 22px;
  --half-space: 11px;
  border-radius: 4px;
  background-color: var(--background-secondary);
  box-shadow: var(--btn-shadow);
}

.sidebar__title {
  padding-top: var(--space);
  padding-left: var(--space);
  padding-right: var(--space);
  margin-bottom: var(--space);
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  color: var(--text-accent-primary);
}

.sidebar__steps {
  padding-left: var(--space);
  padding-right: var(--space);
  margin-top: var(--half-space);
  margin-bottom: var(--space);
}

.sidebar__logos {
  padding-left: var(--space);
  padding-right: var(--space);
  padding-bottom: var(--space);
  margin-top: var(--space);
}

@media screen and (min-width: 1200px) {
  .sidebar {
    --space: 26px;
    --half-space: 13px;
  }
}

@media screen and (min-width: 1440px) {
  .sidebar {
    --space: 30px;
    --half-space: 15px;
  }
}
