.layout-without-sidebar__header,
.layout-without-sidebar__footer {
    padding: 16px 16px 12px;
}

@media screen and (min-width: 768px) {
    .layout-without-sidebar {
        margin-left: auto;
        margin-right: auto;
        max-width: var(--max-width-tablet);
        width: 94%;
    }

    .layout-without-sidebar__header {
        padding: 18px 0;
    }

    .layout-without-sidebar__footer {
        padding: 48px 0 0;
    }
}

@media screen and (min-width: 1024px) {
    .layout-without-sidebar {
        max-width: none;
        width: var(--max-width-laptop);
    }

    .layout-without-sidebar__footer {
        padding: 60px 0 12px;
    }
}

@media screen and (min-width: 1200px) {
    .layout-without-sidebar {
        width: var(--max-width-pc);
    }
}
