.layout-with-sidebar__header,
.layout-with-sidebar__footer {
  padding: 16px 16px 12px;
}

.layout-with-sidebar__sidebar {
  display: none;
}

@media screen and (min-width: 768px) {
  .layout-with-sidebar {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--max-width-tablet);
    width: 94%;
  }

  .layout-with-sidebar__header {
    padding: 18px 0;
  }

  .layout-with-sidebar__footer {
    padding: 48px 0 0;
  }
}

@media screen and (min-width: 1024px) {
  .layout-with-sidebar {
    max-width: none;
    width: var(--max-width-laptop);
  }

  .layout-with-sidebar__content {
    display: flex;
  }

  .layout-with-sidebar__main {
    width: 67.5%;
    padding-right: 0.75rem;
  }

  .layout-with-sidebar__sidebar {
    width: 32.5%;
    padding-left: 0.75rem;
    display: block;
  }

  .layout-with-sidebar__footer {
    padding: 60px 0 12px;
  }
}

@media screen and (min-width: 1200px) {
  .layout-with-sidebar {
    width: var(--max-width-pc);
  }
}
